/**
 * @author wuaixiaoyao
 * @date 2019/9/26
 * @Description:scss 混合宏
*/
//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: rotate(-50%, -50%);
  -o-transform: rotate(-50%, -50%);
  /* opera*/
  -ms-transform: rotate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: rotate(-50%, -50%);
  /* Safari and Chrome */
}

@mixin text-overflow{
  overflow: hidden;
  white-space: nowrap;  // 段落中的文本不进行换行,溢出不换行
  text-overflow: ellipsis; // 溢出用省略号显示
  word-break: break-all; // 允许在单词内换行,溢出不换行
}

@mixin text-overflow-multi($line: 2, $bg: #fff) {
  word-break: break-all;
  overflow: hidden; // 超出的文本隐藏
  text-overflow: ellipsis;
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;  //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
  -webkit-line-clamp: $line; // 结合上面两个属性，表示显示的行数。
}

// 1 像素
$border-color-base: #ddd;
@mixin scale-hairline-common($color, $top, $right, $bottom, $left){
  content: '';
  position: absolute;
  background-color: $color;
  display: block;
  z-index: 1;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin hairline($direction, $color: $border-color-base, $radius: 0) {
  @if ($direction == 'top') {
    border-top: 1PX solid $color;
    html:not([data-scale]) & {
      @media (min-resolution: 2dppx) {
        position: relative;
        border-top: none;
        &::before {
          @include scale-hairline-common($color, 0, auto, auto, 0);
          width: 100%;
          height: 1PX;
          transform-origin: 50% 50%;
          transform: scaleY(0.5);
          @media (min-resolution: 3dppx) {
            transform: scaleY(0.33);
          }
        }
      }
    }
  }
  @if ($direction == 'right') {
    border-right: 1PX solid $color;
    html:not([data-scale]) & {
      @media (min-resolution: 2dppx) {
        position: relative;
        border-right: none;
        &::after {
          @include scale-hairline-common($color, 0, 0, auto, auto);
          width: 1PX;
          height: 100%;
          background: $color;
          transform-origin: 100% 50%;
          transform: scaleX(0.5);
          @media (min-resolution: 3dppx) {
            transform: scaleX(0.33);
          }
        }
      }
    }
  }
  @if ($direction == 'bottom') {
    border-bottom: 1PX solid $color;
    html:not([data-scale]) & {
      @media (min-resolution: 2dppx) {
        position: relative;
        border-bottom: none;
        &:after {
          @include scale-hairline-common($color, auto, auto, 0, 0);
          width: 100%;
          height: 1PX;
          transform-origin: 50% 100%;
          transform: scaleY(0.5);
          @media (min-resolution: 3dppx) {
            transform: scaleY(0.333333);
          }
        }
      }
    }
  }
  @if ($direction == 'left') {
    border-left: 1PX solid $color;
    html:not([data-scale]) & {
      @media (min-resolution: 2dppx) {
        position: relative;
        border-left: none;
        &::before {
          @include scale-hairline-common($color, 0, auto, auto, 0);
          width: 1PX;
          height: 100%;
          transform-origin: 100% 50%;
          transform: scaleX(0.5);
          @media (min-resolution: 3dppx) {
            transform: scaleX(0.33);
          }
        }
      }
    }
  }
  @if ($direction == 'all') {
    border: 1PX solid $color;
    border-radius: $radius;
    html:not([data-scale]) & {
      @media (min-resolution: 2dppx) {
        position: relative;
        border: none;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 200%;
          height: 200%;
          border: 1PX solid $color;
          border-radius: $radius * 2;
          transform-origin: 0 0;
          transform: scale(0.5);
          box-sizing: border-box;
          pointer-events: none;
          // @media (min-resolution: 3dppx) {
          //   width: 300%;
          //   height: 300%;
          //   border-radius: $radius * 3;
          //   transform: scale(0.33);
          // }
        }
      }
    }
  }
}

//顶部1px 边框
@mixin one-px-top($backgroundColor: #EEEFF3 ){
  @include hairline('top', $backgroundColor);
}

//底部1px 边框
@mixin one-px-bottom($backgroundColor: #CACACA ){
  @include hairline('bottom', $backgroundColor);
}


//左边1 像素边框, 可配置top和高度
@mixin hairline-left($top: auto, $height: 100%, $color: #EEEFF3){
  border-left: 1PX solid $color;
  html:not([data-scale]) & {
    @media (min-resolution: 2dppx) {
      position: relative;
      border-left: none;
      &::before {
        @include scale-hairline-common($color, $top, auto, auto, 0);
        width: 1PX;
        height: $height;
        transform-origin: 100% 50%;
        transform: scaleX(0.5);
        @media (min-resolution: 3dppx) {
          transform: scaleX(0.33);
        }
      }
    }
  }
}

//右边1 像素边框, 可配置top和高度
@mixin hairline-right($top: auto, $height: 100%, $color: #EEEFF3){
  border-right: 1PX solid $color;
  html:not([data-scale]) & {
    @media (min-resolution: 2dppx) {
      position: relative;
      border-right: none;
      &::after {
        @include scale-hairline-common($color, $top, 0, auto, auto);
        width: 1PX;
        height: $height;
        transform-origin: 100% 50%;
        transform: scaleX(0.5);
        @media (min-resolution: 3dppx) {
          transform: scaleX(0.33);
        }
      }
    }
  }
}

@mixin one-px($color: #CACACA){
  position: relative;
  height: 1px;
  &:after {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    pointer-events: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    border: 0 solid $color;
    border-bottom-width: 1px;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
      width: 150%;
      height: 150%;
      -webkit-transform: scale(.666666);
      -ms-transform: scale(.666666);
      transform: scale(.666666);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      width: 200%;
      height: 200%;
      transform: scale(.5);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      width: 300%;
      height: 300%;
      transform: scale(0.333333);
    }
  }
}

@mixin one-px-bottom-line($color: #CACACA ){
  position: relative;
  &:after{
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    pointer-events: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    border: 0 solid $color;
    border-bottom-width: 1px;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5){
      width: 150%;
      height: 150%;
      -webkit-transform: scale(.666666);
      -ms-transform: scale(.666666);
      transform: scale(.666666);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2){
      width: 200%;
      height: 200%;
      transform: scale(.5);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 3) {
      width: 300%;
      height: 300%;
      transform: scale(0.333333);
    }
  }
}
