/**
 * @author wuaixiaoyao
 * @date 2019/9/23
 * @Description: scss 变量
*/

//主题金色
$primary-color: #D99c49;
//深金
$dark-gold: #562900;
//蓝色
$primary-blue-color: #383A4C;
//输入框占位符 颜色
$placeholder-color: #CACACA;
//骨架占位色
$Skeleton-color: #CACACA;
//线条色
$line-color: #CACACA;
//背景色
$bg-color: #F8F8F8;
//黑色
$evo-black: #3E4148;
//深灰
$dark-gray: #4A4A4A;
//中灰
$semi-gray: #808080;
//灰
$gary: #CACACA;


